/* White navbar */
.navbar {
  background-color: #ffffff !important;
  border: none !important;
}

/* Navbar text dark */
.navbar .navbar-brand,
.navbar .navbar-nav li a {
  color: #333 !important;
  font-weight: 500;
}

